@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Janna LT";
  src: url("/fonts/JannaLT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Janna LT";
  src: url("/fonts/JannaLT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: "Janna LT", sans-serif !important;
}

*::selection {
  background: #138b96;
}
input::selection,
textarea::selection {
  background: #138b96;
}

html,
body {
  background-color: #fff;
  color: #000;
}

/* Loader */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Moyasar Button */
#mysr > div > form > button{
  background-color: #138b96 !important;

}